body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
icon {
    width: 18px;
    height: 18px;
    display: block;
    filter: contrast(0.4);
    background-size: cover;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.wave-button {
    position: relative;
    overflow: hidden;
    }
    .wave-button .ripple {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #9a9a9a46;
    border-radius: 90%;
    transform: scale(0);
    animation: ripple-animation 0.6s linear infinite;
    pointer-events: none;
    }
    
    @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
}

/* ----------------------------------------------------------- */

.content12345 {
    max-width: -webkit-fill-available;
    width: 430px;
    height: 220px;
    border-radius: 4px;
    top: 80px;
    position: fixed;
    z-index: 1000000000000000000;
    background-color: white;
    padding: 16px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
}
.cont12345 {
    display: flex;
    justify-content: center;
}
.cons12345 {
    height: 28px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: solid 1px #4f628636;
    border-radius: 30px;
}
.cons12345 button {
    height: 28px;
    width: 44px;
    border: none;
    background: #0000;
    border-right: solid 1px #dadee5;
}
.div12345e {
    margin: 10px 0px;
    margin-bottom: 0;
    height: 180px;
    background: #00000000;
}
.cont23445 {
    width: 100%;
    height: 100%;
}
#languageSettings {
    display: none;
    position: absolute;
    direction: ltr;
    top: 0;
    background-color: white;
    overflow: auto;
    z-index: 50;
    left: 0;
    font-family: system-ui;
}
#keyboard,#symbols {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    direction: ltr;
}
#keyboard button,#symbols button {
    width: 36px;
    height: 36px;
    border-radius: 25px;
    border: none;
    margin: 0 3px;
    margin-bottom: 5px;
    border: solid 1px #4f628636;
    background-color: #0000;
}
#keyboard button:hover,#symbols button:hover {
    background-color: #44506309;
    box-shadow: 0px 1px 1px #41495f1f;
}
#keyboard button:active,#symbols button:active {
    background-color: #44506315;
    box-shadow: 0px 1px 2px #41495f1f inset;
}
.content-div {
    display: none;
}
.content-div.show {
    display: block;
    direction: rtl;
}
body .rely {
    background: #0064ff24;
    color: white;
}
body .rely icon {
    filter: contrast(1);
}
#languagesList {
    padding: 0;
}
#languagesList li {
    display: flex;
    padding: 8px 0;
    padding-right: 16px;
    justify-content: space-between;
    padding-left: 40px;
    position: relative;
}
#languagesList li:not(:last-child)::before {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    margin-left: 40px;
    width: -webkit-fill-available;
    background: #f1f1f1;
    height: 1px;
}
#languagesList li::marker {
    display: none;
    content: '';
}
#languagesList li:hover {
    background-color: #4a58730a;
}
#languagesList li:active {
    background-color: #4a587317;
}
#languageSettings .zex12345 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.only12345 {
    display: flex;
    outline-color: #2c88ff;
    align-items: anchor-center;
    height: 28px;
    padding: 0 12px;
    width: max-content;
    border: none;
    background: #0000;
    border-radius: 25px;
    border: solid 1px #4f628636;
}
#div3 .only12345 {
    margin-bottom: 5px;
}
.writingBox {
    height: 40px;
    width: 315px;
    margin-top: 16px;
}
@media screen and (max-width:400px) {
    body .content12345 {
        height: 240px;
        top: auto;
        bottom: 0;
        position: absolute;
        border-radius: 0;
    }
    body .div12345e {
        height: max-content;
    }
}
